<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="basicHttpBehavior">
					<clientCredentials>
						<windows allowedImpersonationLevel="Impersonation"/>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpConf" sendTimeout="01:00:00" maxBufferSize="500000000" maxReceivedMessageSize="500000000">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="500000000"/>
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" realm=""/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcAdmin.Admin" name="basicHttp_Admin"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcArchive.Archive" name="basicHttp_Archive"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcQueueSystem.QueueSystem" name="basicHttp_QueueSystem"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcCalendar.Calendar" name="basicHttp_Calendar"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcResource.Resource" name="basicHttp_Resource"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcLookupTable.LookupTable" name="basicHttp_LookupTable"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcCustomFields.CustomFields" name="basicHttp_CustomFields"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcWorkflow.Workflow" name="basicHttp_Workflow"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcDriver.Driver" name="basicHttp_Driver"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcPortfolioAnalyses.PortfolioAnalyses" name="basicHttp_PortfolioAnalyses"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcProject.Project" name="basicHttp_Project"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcTimeSheet.TimeSheet" name="basicHttp_TimeSheet"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcCubeAdmin.CubeAdmin" name="basicHttp_CubeAdmin"/>
			<endpoint address="http://intranet.contoso.com/pwa/_vti_bin/PSI/ProjectServer.svc" behaviorConfiguration="basicHttpBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpConf" contract="SvcPWA.PWA" name="basicHttp_PWA"/>
		</client>
	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
